.sidebar_left {
  width: 40px;
  position: fixed;
  bottom: 0px;
  z-index: 10;
  color: #a8b2d1;
}

.social_elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-left: 30px;
  list-style: none;
}

i {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.social_elements::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 20px auto;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  font-size: 18px;
  line-height: 18px;
  font-family: sans-serif;
  display: inline-block;
}

.mail_to::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}

.mail_to {
  width: 40px;
  position: fixed;
  bottom: 0px;
  z-index: 10;
  color: #a8b2d1;
  left: auto;
  right: 20px;
  padding-right: 20px;
}
