.navbar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  width: 92vw;
  height: 100px;
  background-color: #0a192f;
  backdrop-filter: blur(10px);
  transition: var(all 0.25s cubic-bezier(0.645,0.045,0.355,1));
  filter: none import !important;
  pointer-events: auto !important;
  user-select: auto impo !important;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  padding-left: 50px;
}

.navbar_nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  color: #ccd6f6;
  counter-reset: item 0;
  z-index: 12;

}

.navbar_links
{
  align-items: center;
  display: flex;
}

.ordered_list, .navbar_links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  -moz-box-pack: justify;
  -moz-box-align: center;
  list-style: outside none none;
}

li{
  margin: 0px 5px;
  position: relative;
  counter-increment: item 1;
  font-size: 13px;
}

li a:hover
{
  color: #64ffda;
}

.resume, .navbar_menu{
  color: #64ffda;
  background-color: transparent;
  border: 1px solid #64ffda;
  border-radius: 4px;
  padding: 0.75rem 1rem;
  line-height: 1px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645 ,0.045 ,0.355 ,1);
  margin-left: 15px;
  font-size: 13px;
}

.navbar_menu {
  display: none;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: none;
  color: inherit;
  position: relative;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

a, ol, li {
  padding: 10px;
}

@media (max-width: 768px)
{
  .ham {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    padding: 15px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
  }

  .navbar_menu {
    display: block;
  }

  .navbar_links {
  display: none;
  }
}

.ham_box .ham {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 24px;
}

.ham .ham_box_inner {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 30px;
  height: 24px;
  border-radius: 4px;
  background-color: #64ffda;
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transform: rotate(0deg);
}

.ham .ham_box_inner ::before {
  width: 120%;
  top : -10px;
  opacity: 10;
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}