a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: none;
  color: inherit;
  position: relative;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

a,
ol,
li {
  padding: 10px;
}
