body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "SF Mono", "San Fransisco",
    "SF Pro Text", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a192f;
}

