body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "SF Mono", "San Fransisco",
    "SF Pro Text", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a192f;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: none;
  color: inherit;
  position: relative;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

a,
ol,
li {
  padding: 10px;
}
